.layout {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.siedBar {
  padding: 30px;
  height: 100vh;
  background: #161d2f;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.siedBar .wrapperSidebar {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
}

.icons {
  cursor: pointer;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.layout main {
  padding: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 1300px;
}
.layout main form {
  width: 300px;
  margin-bottom: 40px;
}
.search {
  display: flex;
  align-items: center;
  gap: 15px;
}
.search input {
  font-size: 17px;
  background-color: transparent;
  border: none;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  color: white;
}

.sidebarIcon:hover {
  filter: invert(42%) sepia(60%) saturate(4332%) hue-rotate(338deg)
    brightness(102%) contrast(97%);
}
